
<!DOCTYPE html>
<html>
<head>
    <title>Eumimart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    .eunimart__btn{
        background-color: #563d7c;
        color: #ffffff; 
    }
</style>
</head>
<body style="background: gainsboro;">
<div class="container"><br>
    <div class="col-lg-6 m-auto d-block border border-light bg-light rounded pt-4">
        <h3>Credential Details</h3>
        <form id="settingForm2" action="/validateCredentials">
            <div class="form-group">
                <label for="user" class="font-weight-bold"> Account Id: </label>
                <input type="text" name="account_id" class="form-control" id="account_id" value="<%=account_id %>" required placeholder="Enter your account id">
            </div>
            <div class="form-group">
                <label class="font-weight-bold"> Access Token: </label>
                <input type="text" name="client_token" class="form-control" id="client_token" value="<%=client_token %>" required placeholder="Enter your access token">
            </div>
            <div class="form-group">
                <label class="font-weight-bold"> Shop Name: </label>
                <input type="text"  class="form-control"  placeholder="Enter your shop name" id="shopName" name="shopName" required  value="<%=shopName%>">
            </div>
            <input type="submit" name="submit" value="Submit" class="btn eunimart__btn">
            <span id="msg" class="text-danger font-weight-bold"></span>
        </form><br><br>
    </div>
</div>
<%if(account_id && client_token && shopName) { %>
    <div class="container mt-5">
        <div class="col-lg-6 m-auto d-block border border-light bg-light rounded pt-4 pb-5">
            <h3>Instructions To Install</h3>
            <p>Custom Installation: Just paste the following code in your cart.liquid template on place where you want to the add eunimart shipping.</p>
            <div class="alert alert-secondary">
                <span>&lt;div id=&quot;eunimart__wrapper&quot;&gt;&lt;/div&gt;</span>
            </div>
            <input type="submit" name="install" value="Install Snippet" class="btn eunimart__btn" onclick="onInjectSnippet()">
            <span id="msg2" class="text-danger font-weight-bold"></span>
        </div>
    </div>
<% } %>

</div>
<script>
   console.log("<%=shopName%>")
    $("#settingForm2").submit(function (e) {

e.preventDefault(); // avoid to execute the actual submit of the form.

var form = $(this);
var url = form.attr('action');

$.ajax({
    type: "POST",
    url: url,
    data: form.serialize(), // serializes the form's elements.
    
    success: function (res) {
        console.log(res)
        if(res.success===true){
            document.getElementById("msg").innerHTML = " ** Added shop details successfully";
            // window.location.reload();
        }else{
            document.getElementById("msg").innerHTML = " ** Invalid credentials";
        }

       
        $('.Polaris-Backdrop,.Polaris-Modal-Dialog__Container').css("visibility",
            "hidden");
        $('.success_container .Polaris-Backdrop').css("visibility", "visible");
        $('.success_container .Polaris-Modal-Dialog__Container').css("visibility",
            "visible");
        $('.success_subtext').text("added shop details successfully");
        
    },
    error: function (jqXHR, textStatus, err) {
        alert("error while adding shop details")
        $('.Polaris-Backdrop,.Polaris-Modal-Dialog__Container').css("visibility",
            "hidden");
        $('.error_container .Polaris-Backdrop').css("visibility", "visible");
        $('.error_container .Polaris-Modal-Dialog__Container').css("visibility",
            "visible");
        $('.error_subtext').text("Something Went Wrong")
    }
});
});
let onInjectSnippet=()=>{
    console.log("<%=shopName%>")
    $.ajax({
    type: "GET",
    url: `https://eunimart.minimaltrex.com/validateCredentials/<%=shopName%>`,
    // serializes the form's elements.
    
    success: function (res) {
        console.log(res)
        if(res.success===true){
            document.getElementById("msg2").innerHTML = " ** added theme successfully";
        }else{
            document.getElementById("msg2").innerHTML = " ** Invalid credentials";
        }

       
        $('.Polaris-Backdrop,.Polaris-Modal-Dialog__Container').css("visibility",
            "hidden");
        $('.success_container .Polaris-Backdrop').css("visibility", "visible");
        $('.success_container .Polaris-Modal-Dialog__Container').css("visibility",
            "visible");
        $('.success_subtext').text("Added theme Successfully");
        
    },
    error: function (jqXHR, textStatus, err) {
        alert("error while adding shop details")
        $('.Polaris-Backdrop,.Polaris-Modal-Dialog__Container').css("visibility",
            "hidden");
        $('.error_container .Polaris-Backdrop').css("visibility", "visible");
        $('.error_container .Polaris-Modal-Dialog__Container').css("visibility",
            "visible");
        $('.error_subtext').text("Something Went Wrong")
    }
});

}
</script>
</body>
</html>